* {
  /* line-height: 0; */

  /* border : 1px solid grey; */
}

h2, h3 {
  font-weight: 600;
}

p {
  color : rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.Component {
  width : 300px;
}

.Component * {
  /* border: 1px solid grey; */
}
body {
  background-color : #E9E9ED;
}

.Component {
  width : 300px;

  background-color: white;
  
  padding : 16px;
  border-radius: 16px;
  /* border: 1px solid grey; */

}

.imgContainer {
  width : 300px;
  height : 300px;

  background-color : #E9E9ED;
  border-radius: 6px;

  /* CENTER IMG */
  display : flex;
  justify-content: center;
  align-items: center;
}

img {
  /* background-color : black; */
  width : 200px;
  height : 200px;
}

.typeContainer {
  width : 56px;
  height : 56px;
  border-radius: 100px;

  /* CENTER IMG */
  display : flex;
  justify-content: center;
  align-items: center;
}

.type {
  /* background-color : black; */
  width : 28px;
  height : 28px;
  /* border-radius: 100px; */
}

.grid {
  display : grid;
  grid-template-columns: repeat(3, 1fr);

  align-self: center;
  /* page width is 720px */
  gap : 24px;
}