* {
  /* line-height: 0; */

  border : 1px solid rgba(255, 0, 0, 0);
}

body.show-border * {
  border : 1px solid rgba(255, 0, 0, 0.25);
}

h2, h3 {
  font-weight: 600;
}

p {
  color : rgba(70, 42, 42, 0.5);
  font-size: 14px;
}

body {
  background-color : #E9E9ED;
}

.page {
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content: center;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  margin : 0 auto;
}

.Component {
  width : 300px;

  background-color: white;
  
  padding : 16px;
  padding-bottom : 24px;

  border-radius: 16px;
}

.imgContainer {
  width : 300px;
  height : 300px;

  background-color : #E9E9ED;
  border-radius: 6px;

  /* CENTER IMG */
  display : flex;
  justify-content: center;
  align-items: center;
}

img {
  width : 200px;
  height : 200px;
}

.typeImgContainer {
  width : 56px;
  height : 56px;
  border-radius: 100px;

  /* CENTER IMG */
  display : flex;
  justify-content: center;
  align-items: center;
}

.type {
  width : 28px;
  height : 28px;
}

.grid {
  display : grid;
  grid-template-columns: repeat(3, 1fr);

  align-self: center;
  /* page width is 720px */
  gap : 24px;
}

.name {
  margin-bottom : 32px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap : 2px;
}

.textContainer > * {
  margin : 0;
}

.typeContainer {
  height : 56px;
  align-items: center;
  display: flex;
  gap : 16px;
}

/* TOGGLE BUTTON */
.switch {
  width: 60px;
  height: 36px;

  position: fixed;
  bottom: 40px;
}

.switch input { 
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}