* {
  /* line-height: 0; */

  /* border : 1px solid grey; */
}

body {
  background-color : #E9E9ED;
}

.Component {
  width : 300px;

  background-color: white;
  
  padding : 16px;
  border-radius: 16px;
  /* border: 1px solid grey; */

}

.Component * {
  /* border: 1px solid grey; */
}

img {
  background-color : black;
  width : 300px;
  height : 300px;
}

.type {
  width : 56px;
  height : 56px;
  border-radius: 100px;
}